<app-header></app-header>

<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <li>
      <ul>
        <a routerLink="products">Productos</a>
      </ul>
      <ul>
        <a routerLink="orders">Ordenes</a>
      </ul>
    </li>
  </mat-drawer>
  <mat-drawer-content>
    <div style="margin-left: 2rem; margin-right: 2rem;">
      <button (click)="drawer.toggle()">Toogle</button>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>